In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import numpy as np

%matplotlib inline

In [2]:
cdc = pd.read_csv('../data/cdc_clean.csv')

In [3]:
cdc_trans = cdc.loc[cdc.trans.isin(['Transgender'])]
cdc_cis = cdc.loc[cdc.trans.isin(['Cisgender'])]
cdc_trans.head()

,respondent_ID,_STATE,_AGE_G,_SEX,BIRTHSEX,SOMALE,SOFEMALE,TRNSGNDR,PVTRESD3,MARITAL,...,persdoc,checkup,income,employment,education,gender,sexual orientation,pct_gen,pct_phys,pct_ment
7347,7347,Alaska,Age 45 to 54,Female,NaN,NaN,Straight,"Yes, female to male",NaN,Married,...,One or more,Within past year,"$35,000 or more",Employed,Post-secondary Education,Male,Straight,NaN,NaN,NaN
7635,7635,Alaska,Age 35 to 44,Male,NaN,Straight,NaN,"Yes, male to female",NaN,Never Married,...,One or more,Within past year,"Less than $35,000",Unemployed,No post-secondary education,Female,Straight,NaN,NaN,0.2911
7709,7709,Alaska,Age 65 and older,Male,NaN,Gay,NaN,"Yes, male to female",NaN,Separated,...,One or more,Within past year,"$35,000 or more",NaN,No post-secondary education,Female,Gay,NaN,NaN,NaN
7993,7993,Alaska,Age 35 to 44,Male,NaN,Straight,NaN,"Yes, male to female",NaN,Married,...,One or more,Within past year,"$35,000 or more",Employed,No post-secondary education,Female,Straight,NaN,NaN,NaN
8102,8102,Alaska,Age 65 and older,Male,NaN,Something Else,NaN,"Yes, gender nonconforming",NaN,Divorced,...,One or more,Within past year,"$35,000 or more",NaN,Post-secondary Education,Gender nonconforming,NaN,NaN,NaN,NaN

In [4]:
cdc_trans.loc[cdc.BIRTHSEX.notnull()]

,respondent_ID,_STATE,_AGE_G,_SEX,BIRTHSEX,SOMALE,SOFEMALE,TRNSGNDR,PVTRESD3,MARITAL,...,persdoc,checkup,income,employment,education,gender,sexual orientation,pct_gen,pct_phys,pct_ment
86175,86175,Hawaii,Age 55 to 64,Female,Female,NaN,Straight,"Yes, female to male",NaN,Married,...,One or more,Within past year,"$35,000 or more",Employed,Post-secondary Education,Male,Straight,NaN,NaN,NaN
86485,86485,Hawaii,Age 65 and older,Male,Male,Gay,NaN,"Yes, female to male",NaN,Divorced,...,One or more,Within past year,"Less than $35,000",NaN,Post-secondary Education,Male,Gay,NaN,NaN,NaN
86799,86799,Hawaii,Age 55 to 64,Male,Male,Gay,NaN,"Yes, male to female",NaN,Never Married,...,NaN,Within past year,"Less than $35,000",NaN,No post-secondary education,Female,Gay,0.0901,0.1948,NaN
86912,86912,Hawaii,Age 65 and older,Female,Female,NaN,Straight,"Yes, female to male",NaN,Widowed,...,One or more,Within past year,"Less than $35,000",NaN,Post-secondary Education,Male,Straight,NaN,NaN,NaN
86921,86921,Hawaii,Age 65 and older,Female,Female,NaN,Straight,"Yes, female to male",NaN,Widowed,...,One or more,Within past year,NaN,NaN,Post-secondary Education,Male,Straight,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371179,371179,Vermont,Age 25 to 34,Female,Female,NaN,Something Else,"Yes, gender nonconforming",Yes,Never Married,...,One or more,Within past year,"Less than $35,000",NaN,No post-secondary education,Gender nonconforming,NaN,NaN,NaN,NaN
371243,371243,Vermont,Age 45 to 54,Male,Male,Bisexual,NaN,"Yes, gender nonconforming",Yes,Never Married,...,One or more,Within past year,"$35,000 or more",NaN,Post-secondary Education,Gender nonconforming,Bisexual,NaN,NaN,0.2911
371466,371466,Vermont,Age 65 and older,Male,Male,Straight,NaN,"Yes, male to female",Yes,Widowed,...,One or more,Within past year,"Less than $35,000",Employed,Post-secondary Education,Female,Straight,NaN,NaN,NaN
371653,371653,Vermont,Age 65 and older,Male,Male,Something Else,NaN,"Yes, male to female",Yes,Divorced,...,NaN,Within past year,NaN,NaN,Post-secondary Education,Female,NaN,0.0901,0.1948,0.2911
371655,371655,Vermont,Age 18 to 24,Male,Male,Bisexual,NaN,"Yes, male to female",Yes,A member of an unmarried couple,...,None,Within past year,"$35,000 or more",Employed,Post-secondary Education,Female,Bisexual,NaN,NaN,0.2911

## 1. What regions have the greatest health disparities between transgender and cisgender people?

### National Health

In [5]:
trans_poor_health = 0
total_trans = 0
cis_poor_health = 0
total_cis = 0
for ind,row in cdc.iterrows():
    if row.trans == 'Transgender' and row.GENHLTH == 'Poor':
        total_trans += 1
        trans_poor_health += 1
    elif row.trans == 'Transgender':
        total_trans += 1
    elif row.trans == 'Cisgender' and row.GENHLTH == 'Poor':
        total_cis += 1
        cis_poor_health += 1
    elif row.trans == 'Cisgender':
        total_cis += 1

print(str.format('Percent of Trans People with Poor General Health: {}%', round((trans_poor_health/total_trans)*100,2)))
print(str.format('Percent of Cis People with Poor General Health: {}%', round((cis_poor_health/total_cis)*100,2)))

Percent of Trans People with Poor General Health: 9.01%
Percent of Cis People with Poor General Health: 5.23%

In [6]:
trans_14 = 0
total_trans = 0
cis_14 = 0
total_cis = 0
for ind,row in cdc.iterrows():
    if row.trans == 'Transgender' and row._PHYS14D != '14+ days when physical health not good':
        total_trans += 1
    elif row.trans == 'Transgender' and row._PHYS14D == '14+ days when physical health not good':
        total_trans += 1
        trans_14 += 1
    elif row.trans == 'Cisgender' and row._PHYS14D != '14+ days when physical health not good':
        total_cis += 1
    elif row.trans == 'Cisgender' and row._PHYS14D == '14+ days when physical health not good':
        total_cis += 1
        cis_14 += 1
print(str.format('Percent of Trans People with 14+ days in the last month when physical health not good: {}%', round((trans_14/total_trans)*100,2)))
print(str.format('Percent of Cis People with 14+ days in the last month when physical health not good: {}%',round((cis_14/total_cis)*100,2)))

Percent of Trans People with 14+ days in the last month when physical health not good: 19.48%
Percent of Cis People with 14+ days in the last month when physical health not good: 13.76%

In [7]:
trans_14 = 0
total_trans = 0
cis_14 = 0
total_cis = 0
for ind,row in cdc.iterrows():
    if row.trans == 'Transgender' and row._MENT14D != '14+ days when mental health not good':
        total_trans += 1
    elif row.trans == 'Transgender' and row._MENT14D == '14+ days when mental health not good':
        total_trans += 1
        trans_14 += 1
    elif row.trans == 'Cisgender' and row._MENT14D != '14+ days when mental health not good':
        total_cis += 1
    elif row.trans == 'Cisgender' and row._MENT14D == '14+ days when mental health not good':
        total_cis += 1
        cis_14 += 1

print(str.format('Percent of Trans People with 14+ days in the last month when mental health not good: {}%', round((trans_14/total_trans)*100,2)))
print(str.format('Percent of Cis People with 14+ days in the last month when mental health not good: {}%',round((cis_14/total_cis)*100,2)))

Percent of Trans People with 14+ days in the last month when mental health not good: 29.11%
Percent of Cis People with 14+ days in the last month when mental health not good: 11.73%

In [8]:
diff = pd.DataFrame({'Gender Status':['Transgender','Cisgender','Unknown'],'poor_gen':[0.0901,0.0523,0.0378],'poor_phys':[0.1948,0.1376,0.0572],
                    'poor_ment':[0.2911,0.1173,0.1738]})
diff.to_csv('../data/diff.csv',index=False)

In [9]:
cdc_trans._RACE.unique()

array(['White only, non-Hispanic',
       'American Indian or Alaskan Native only, Non-Hispanic', 'Hispanic',
       'Black only, non-Hispanic', 'Multiracial, non-Hispanic',
       'Other race only, non-Hispanic', 'Asian only, non-Hispanic',
       'Donâ€™t know/Not sure/Refused',
       'Native Hawaiian or other Pacific Islander only, Non-Hispanic'],
      dtype=object)

In [10]:
cdc_black_trans = cdc_trans.loc[cdc_trans._RACE.isin(['Black only, non-Hispanic'])]

In [11]:
cdc_black_trans.shape

(82, 42)

In [12]:
trans_14 = 0
total_trans = 0
cis_14 = 0
total_cis = 0

for ind,row in cdc_black_trans.iterrows():
    if row._MENT14D != '14+ days when mental health not good':
        total_trans += 1
    elif row._MENT14D == '14+ days when mental health not good':
        total_trans += 1
        trans_14 += 1

print(str.format('Percent of Trans People with 14+ days in the last month when mental health not good: {}%', round((trans_14/total_trans)*100,2)))

Percent of Trans People with 14+ days in the last month when mental health not good: 20.73%

### Health State Breakdown

In [13]:
# states = list(cdc_trans._STATE.unique())

In [14]:
# dict_states = []
# pct_trans_poor_fair = []
# pct_cis_poor_fair = []

In [15]:
# for item in states:
#     trans_poor_fair_health = 0
#     total_trans = 0
#     cis_poor_fair_health = 0
#     total_cis = 0
#     dict_state = item
#     state_df = cdc.loc[cdc._STATE == item]
    
#     for ind,row in state_df.iterrows():
#         if row.trans == 'Yes' and (row._RFHLTH == 'Good or Better Health' or row._RFHLTH == np.nan):
#             total_trans += 1
#         elif row.trans == 'Yes' and row._RFHLTH == 'Fair or Poor Health':
#             total_trans += 1
#             trans_poor_fair_health += 1
#         elif row.trans == 'No' and (row._RFHLTH == 'Good or Better Health' or row._RFHLTH == np.nan):
#             total_cis += 1
#         elif row.trans == 'No' and row._RFHLTH == 'Fair or Poor Health':
#             total_cis += 1
#             cis_poor_fair_health += 1

#     dict_states.append(dict_state)
#     pct_trans_poor_fair.append(round((trans_poor_fair_health/total_trans)*100,2))
#     pct_cis_poor_fair.append(round((cis_poor_fair_health/total_cis)*100,2))

In [16]:
# state_breakdown = pd.DataFrame({'state':states, 'pct_trans_poor_fair':pct_trans_poor_fair,
#                                 'pct_cis_poor_fair':pct_cis_poor_fair})
# state_breakdown.head()

In [17]:
# state_breakdown.sort_values('pct_trans_poor_fair', ascending=False)

In [18]:
# state_breakdown['diff'] = state_breakdown.pct_trans_poor_fair - state_breakdown.pct_cis_poor_fair

In [19]:
# state_breakdown.sort_values('diff',ascending=False)

In [20]:
# cdc_trans._STATE.value_counts()

### Health Region Breakdown

#### General Health

In [21]:
regions = list(cdc_trans.region.unique())

In [22]:
pct_trans_poor_reg = []
pct_cis_poor_reg = []

In [23]:
for item in regions:
    trans_poor_health = 0
    total_trans = 0
    cis_poor_health = 0
    total_cis = 0
    region_df = cdc.loc[cdc.region == item]
    
    for ind,row in region_df.iterrows():
        if row.trans == 'Transgender' and (row.GENHLTH == 'Poor'):
            total_trans += 1
            trans_poor_health += 1
        elif row.trans == 'Transgender':
            total_trans += 1
        elif row.trans == 'Cisgender' and (row.GENHLTH == 'Poor'):
            total_cis += 1
            cis_poor_health += 1
        elif row.trans == 'Cisgender':
            total_cis += 1

    pct_trans_poor_reg.append(round((trans_poor_health/total_trans)*100,2))
    pct_cis_poor_reg.append(round((cis_poor_health/total_cis)*100,2))

region_breakdown = pd.DataFrame({'region':regions, 'pct_trans_poor':pct_trans_poor_reg,
                                'pct_cis_poor':pct_cis_poor_reg})

In [24]:
cdc_trans.region.value_counts()

South          345
West           255
Midwest        180
Northeast      149
Territories     26
Name: region, dtype: int64

In [25]:
region_breakdown['diff'] = region_breakdown.pct_trans_poor - region_breakdown.pct_cis_poor

In [26]:
region_breakdown = region_breakdown.sort_values('diff', ascending = False)

In [27]:
region_breakdown

        region  pct_trans_poor  pct_cis_poor   diff
4  Territories           15.38          5.26  10.12
3      Midwest            8.89          4.31   4.58
1    Northeast            8.72          4.56   4.16
0         West            7.84          4.51   3.33
2        South            9.57          6.46   3.11

In [28]:
# fig, ax1 = plt.subplots(figsize=(10, 10))
# tidy = region_breakdown.melt(id_vars='region').rename(columns=str.title)
# sns.barplot(x='Region', y='Value', hue='Variable', data=tidy, ax=ax1)
# sns.despine(fig)

#### Physical Health

In [29]:
phys_trans = []
phys_cis = []

In [30]:
for item in regions:
    trans_14 = 0
    total_trans = 0
    cis_14 = 0
    total_cis = 0
    region_df = cdc.loc[cdc.region == item]
    
    for ind,row in region_df.iterrows():
        if row.trans == 'Transgender' and row._PHYS14D != '14+ days when physical health not good':
            total_trans += 1
        elif row.trans == 'Transgender' and row._PHYS14D == '14+ days when physical health not good':
            total_trans += 1
            trans_14 += 1
        elif row.trans == 'Cisgender' and row._PHYS14D != '14+ days when physical health not good':
            total_cis += 1
        elif row.trans == 'Cisgender' and row._PHYS14D == '14+ days when physical health not good':
            total_cis += 1
            cis_14 += 1

    phys_trans.append(round((trans_14/total_trans)*100,2))
    phys_cis.append(round((cis_14/total_cis)*100,2))

phys_region = pd.DataFrame({'region':regions, 'pct_14_trans':phys_trans,
                                'pct_14_cis':phys_cis})

In [31]:
phys_region['diff'] = phys_region.pct_14_trans - phys_region.pct_14_cis

In [32]:
phys_region = phys_region.sort_values('diff',ascending=False)

In [33]:
phys_region

        region  pct_14_trans  pct_14_cis  diff
2        South         22.90       15.24  7.66
3      Midwest         20.00       12.43  7.57
0         West         19.61       13.10  6.51
4  Territories         11.54       12.12 -0.58
1    Northeast         12.08       12.97 -0.89

In [34]:
# fig, ax1 = plt.subplots(figsize=(10, 10))
# tidy = phys_region.melt(id_vars='region').rename(columns=str.title)
# sns.barplot(x='Region', y='Value', hue='Variable', data=tidy, ax=ax1)
# sns.despine(fig)

#### Mental Health

In [35]:
ment_trans = []
ment_cis = []

In [36]:
for item in regions:
    trans_14 = 0
    total_trans = 0
    cis_14 = 0
    total_cis = 0
    region_df = cdc.loc[cdc.region == item]
    
    for ind,row in region_df.iterrows():
        if row.trans == 'Transgender' and row._MENT14D != '14+ days when mental health not good':
            total_trans += 1
        elif row.trans == 'Transgender' and row._MENT14D == '14+ days when mental health not good':
            total_trans += 1
            trans_14 += 1
        elif row.trans == 'Cisgender' and row._MENT14D != '14+ days when mental health not good':
            total_cis += 1
        elif row.trans == 'Cisgender' and row._MENT14D == '14+ days when mental health not good':
            total_cis += 1
            cis_14 += 1

    ment_trans.append(round((trans_14/total_trans)*100,2))
    ment_cis.append(round((cis_14/total_cis)*100,2))

ment_region = pd.DataFrame({'region':regions, 'pct_14_trans':ment_trans,
                                'pct_14_cis':ment_cis})

In [37]:
ment_region['diff'] = ment_region.pct_14_trans - ment_region.pct_14_cis

In [38]:
ment_region.sort_values('diff',ascending=False)

        region  pct_14_trans  pct_14_cis   diff
0         West         32.94       11.31  21.63
1    Northeast         30.20       10.86  19.34
2        South         28.99       12.69  16.30
3      Midwest         26.11       11.07  15.04
4  Territories          7.69       12.17  -4.48

In [39]:
ment_region

        region  pct_14_trans  pct_14_cis   diff
0         West         32.94       11.31  21.63
1    Northeast         30.20       10.86  19.34
2        South         28.99       12.69  16.30
3      Midwest         26.11       11.07  15.04
4  Territories          7.69       12.17  -4.48

In [40]:
# fig, ax1 = plt.subplots(figsize=(10, 10))
# tidy = ment_region.melt(id_vars='region').rename(columns=str.title)
# sns.barplot(x='Region', y='Value', hue='Variable', data=tidy, ax=ax1)
# sns.despine(fig)

#### Merging

In [41]:
reg_phys = pd.merge(region_breakdown,phys_region, on='region',how='outer')

In [42]:
reg_phys

,region,pct_trans_poor,pct_cis_poor,diff_x,pct_14_trans,pct_14_cis,diff_y
0,Territories,15.38,5.26,10.12,11.54,12.12,-0.58
1,Midwest,8.89,4.31,4.58,20.00,12.43,7.57
2,Northeast,8.72,4.56,4.16,12.08,12.97,-0.89
3,West,7.84,4.51,3.33,19.61,13.10,6.51
4,South,9.57,6.46,3.11,22.90,15.24,7.66

In [43]:
health_diff = pd.merge(reg_phys, ment_region, on='region',how='outer')

In [44]:
health_diff.head()

,region,pct_trans_poor,pct_cis_poor,diff_x,pct_14_trans_x,pct_14_cis_x,diff_y,pct_14_trans_y,pct_14_cis_y,diff
0,Territories,15.38,5.26,10.12,11.54,12.12,-0.58,7.69,12.17,-4.48
1,Midwest,8.89,4.31,4.58,20.00,12.43,7.57,26.11,11.07,15.04
2,Northeast,8.72,4.56,4.16,12.08,12.97,-0.89,30.20,10.86,19.34
3,West,7.84,4.51,3.33,19.61,13.10,6.51,32.94,11.31,21.63
4,South,9.57,6.46,3.11,22.90,15.24,7.66,28.99,12.69,16.30

In [45]:
health_diff.columns = ['region','poor_fair_gen_health_trans','poor_fair_gen_health_cis','poor_fair_gen_health_diff',
                      'poor_phys_health_trans','poor_phys_health_cis','poor_phys_health_diff','poor_ment_health_trans',
                      'poor_ment_health_cis','poor_ment_health_diff']

In [46]:
health_diff

,region,poor_fair_gen_health_trans,poor_fair_gen_health_cis,poor_fair_gen_health_diff,poor_phys_health_trans,poor_phys_health_cis,poor_phys_health_diff,poor_ment_health_trans,poor_ment_health_cis,poor_ment_health_diff
0,Territories,15.38,5.26,10.12,11.54,12.12,-0.58,7.69,12.17,-4.48
1,Midwest,8.89,4.31,4.58,20.00,12.43,7.57,26.11,11.07,15.04
2,Northeast,8.72,4.56,4.16,12.08,12.97,-0.89,30.20,10.86,19.34
3,West,7.84,4.51,3.33,19.61,13.10,6.51,32.94,11.31,21.63
4,South,9.57,6.46,3.11,22.90,15.24,7.66,28.99,12.69,16.30

In [47]:
health_diff.to_csv('../data/health_diff.csv',index=False)

In [48]:
health_diff_viz = health_diff[['poor_fair_gen_health_trans','poor_fair_gen_health_cis', 'poor_phys_health_trans','poor_phys_health_cis','poor_ment_health_trans','poor_ment_health_cis']]

## What factors might contribute to those health disparities?

### What age ranges do cis and trans people fall in?

In [49]:
trans_age_grouped = cdc_trans.groupby(['region', '_AGE_G']).size()

In [50]:
trans_age_pct = trans_age_grouped.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
trans_age_pct = trans_age_pct.reset_index()
trans_age_pct.columns = ['region','age_range','trans_pct']
trans_age_pct.head()

    region     age_range  trans_pct
0  Midwest  Age 18 to 24  21.666667
1  Midwest  Age 25 to 34  15.555556
2  Midwest  Age 35 to 44  10.555556
3  Midwest  Age 45 to 54   8.333333
4  Midwest  Age 55 to 64  18.888889

In [51]:
cis_age_grouped = cdc_cis.groupby(['region', '_AGE_G']).size()
cis_age_pct = cis_age_grouped.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
cis_age_pct = cis_age_pct.reset_index()
cis_age_pct.columns = ['region','age_range','cis_pct']
cis_age_pct.head()

    region     age_range    cis_pct
0  Midwest  Age 18 to 24   6.077208
1  Midwest  Age 25 to 34   9.804336
2  Midwest  Age 35 to 44  11.940772
3  Midwest  Age 45 to 54  14.278160
4  Midwest  Age 55 to 64  21.023797

In [52]:
ages_merged = pd.merge(trans_age_pct,cis_age_pct, on=['region','age_range'],how='outer')
ages_merged

         region         age_range  trans_pct    cis_pct
0       Midwest      Age 18 to 24  21.666667   6.077208
1       Midwest      Age 25 to 34  15.555556   9.804336
2       Midwest      Age 35 to 44  10.555556  11.940772
3       Midwest      Age 45 to 54   8.333333  14.278160
4       Midwest      Age 55 to 64  18.888889  21.023797
5       Midwest  Age 65 and older  25.000000  36.875727
6     Northeast      Age 18 to 24  14.093960   4.464107
7     Northeast      Age 25 to 34  20.134228   8.528614
8     Northeast      Age 35 to 44  14.765101  10.041387
9     Northeast      Age 45 to 54  14.093960  15.407450
10    Northeast      Age 55 to 64  16.107383  22.263451
11    Northeast  Age 65 and older  20.805369  39.294991
12        South      Age 18 to 24  19.130435   4.997377
13        South      Age 25 to 34  15.942029   9.107348
14        South      Age 35 to 44  13.333333  11.045129
15        South      Age 45 to 54  11.304348  14.728699
16        South      Age 55 to 64  16.231884  20.595622
17        South  Age 65 and older  24.057971  39.525824
18  Territories      Age 18 to 24   7.692308   9.517045
19  Territories      Age 25 to 34  11.538462  15.861742
20  Territories      Age 35 to 44  15.384615  15.056818
21  Territories      Age 45 to 54  15.384615  19.223485
22  Territories      Age 55 to 64  23.076923  18.702652
23  Territories  Age 65 and older  26.923077  21.638258
24         West      Age 18 to 24  15.686275   6.061529
25         West      Age 25 to 34  19.215686  10.680400
26         West      Age 35 to 44  14.509804  13.053258
27         West      Age 45 to 54  12.549020  14.363996
28         West      Age 55 to 64  13.725490  19.513928
29         West  Age 65 and older  24.313725  36.326890

### What percentage of cis and trans people have health coverage?

In [53]:
trans_health_coverage = cdc_trans.groupby(['region', '_HCVU651']).size()
trans_health_coverage_df = trans_health_coverage.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
trans_health_coverage_df = trans_health_coverage_df.reset_index()
trans_health_coverage_df.columns = ['region','health_coverage_status','pct']
trans_health_coverage_df = trans_health_coverage_df.loc[trans_health_coverage_df.health_coverage_status.isin(['Do not have health care coverage'])]
trans_no_coverage = trans_health_coverage_df[['region','pct']]
trans_no_coverage

        region        pct
0      Midwest  12.686567
2    Northeast  14.678899
4        South  21.705426
6  Territories  15.789474
8         West  12.631579

In [54]:
cis_health_coverage = cdc_cis.groupby(['region', '_HCVU651']).size()
cis_health_coverage_df = cis_health_coverage.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
cis_health_coverage_df = cis_health_coverage_df.reset_index()
cis_health_coverage_df.columns = ['region','health_coverage_status','pct']
cis_health_coverage_df = cis_health_coverage_df.loc[cis_health_coverage_df.health_coverage_status.isin(['Do not have health care coverage'])]
cis_no_coverage = cis_health_coverage_df[['region','pct']]
cis_no_coverage

        region        pct
0      Midwest   9.421426
2    Northeast   8.575166
4        South  16.203442
6  Territories  18.165138
8         West  12.166051

In [55]:
no_health_coverage = pd.merge(trans_no_coverage,cis_no_coverage,on='region')
no_health_coverage.columns = ['region','pct_trans','pct_cis']
no_health_coverage['diff']=no_health_coverage.pct_trans - no_health_coverage.pct_cis
no_health_coverage

        region  pct_trans    pct_cis      diff
0      Midwest  12.686567   9.421426  3.265142
1    Northeast  14.678899   8.575166  6.103733
2        South  21.705426  16.203442  5.501984
3  Territories  15.789474  18.165138 -2.375664
4         West  12.631579  12.166051  0.465528

In [56]:
no_health_coverage = no_health_coverage.sort_values('diff', ascending=False)

In [57]:
# fig, ax1 = plt.subplots(figsize=(10, 10))
# tidy = no_health_coverage.melt(id_vars='region').rename(columns=str.title)
# sns.barplot(x='Region', y='Value', hue='Variable', data=tidy, ax=ax1)
# sns.despine(fig)