In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import numpy as np

%matplotlib inline

In [2]:
cdc = pd.read_csv('../data/cdc_clean.csv')

In [3]:
cdc_trans = cdc.loc[cdc.trans.isin(['Transgender'])]
cdc_cis = cdc.loc[cdc.trans.isin(['Cisgender'])]
cdc_trans.head()

,_STATE,_AGE_G,_SEX,BIRTHSEX,SOMALE,SOFEMALE,TRNSGNDR,PVTRESD3,MARITAL,_EDUCAG,...,poor_gen_health,poor_phys_health,poor_ment_health,persdoc,checkup,income,employment,education,gender,sexual orientation
7347,Alaska,Age 45 to 54,Female,NaN,NaN,Straight,"Yes, female to male",NaN,Married,Graduated from College or Technical School,...,No,No,No,One or more,Within past year,"$35,000 or more",Employed,Post-secondary Education,Male,Straight
7635,Alaska,Age 35 to 44,Male,NaN,Straight,NaN,"Yes, male to female",NaN,Never Married,Graduated High School,...,No,No,Yes,One or more,Within past year,"Less than $35,000",Unemployed,No post-secondary education,Female,Straight
7709,Alaska,Age 65 and older,Male,NaN,Gay,NaN,"Yes, male to female",NaN,Separated,Did not graduate High School,...,No,No,No,One or more,Within past year,"$35,000 or more",NaN,No post-secondary education,Female,Gay
7993,Alaska,Age 35 to 44,Male,NaN,Straight,NaN,"Yes, male to female",NaN,Married,Graduated High School,...,No,No,No,One or more,Within past year,"$35,000 or more",Employed,No post-secondary education,Female,Straight
8102,Alaska,Age 65 and older,Male,NaN,Something Else,NaN,"Yes, gender nonconforming",NaN,Divorced,Graduated from College or Technical School,...,No,No,No,One or more,Within past year,"$35,000 or more",NaN,Post-secondary Education,Gender nonconforming,NaN

In [4]:
cdc_trans.loc[cdc.BIRTHSEX.notnull()]

,_STATE,_AGE_G,_SEX,BIRTHSEX,SOMALE,SOFEMALE,TRNSGNDR,PVTRESD3,MARITAL,_EDUCAG,...,poor_gen_health,poor_phys_health,poor_ment_health,persdoc,checkup,income,employment,education,gender,sexual orientation
86175,Hawaii,Age 55 to 64,Female,Female,NaN,Straight,"Yes, female to male",NaN,Married,Graduated from College or Technical School,...,No,No,No,One or more,Within past year,"$35,000 or more",Employed,Post-secondary Education,Male,Straight
86485,Hawaii,Age 65 and older,Male,Male,Gay,NaN,"Yes, female to male",NaN,Divorced,Attended College or Technical School,...,No,No,No,One or more,Within past year,"Less than $35,000",NaN,Post-secondary Education,Male,Gay
86799,Hawaii,Age 55 to 64,Male,Male,Gay,NaN,"Yes, male to female",NaN,Never Married,Graduated High School,...,Yes,Yes,No,NaN,Within past year,"Less than $35,000",NaN,No post-secondary education,Female,Gay
86912,Hawaii,Age 65 and older,Female,Female,NaN,Straight,"Yes, female to male",NaN,Widowed,Attended College or Technical School,...,No,No,No,One or more,Within past year,"Less than $35,000",NaN,Post-secondary Education,Male,Straight
86921,Hawaii,Age 65 and older,Female,Female,NaN,Straight,"Yes, female to male",NaN,Widowed,Graduated from College or Technical School,...,No,No,No,One or more,Within past year,NaN,NaN,Post-secondary Education,Male,Straight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371179,Vermont,Age 25 to 34,Female,Female,NaN,Something Else,"Yes, gender nonconforming",Yes,Never Married,Graduated High School,...,No,No,No,One or more,Within past year,"Less than $35,000",NaN,No post-secondary education,Gender nonconforming,NaN
371243,Vermont,Age 45 to 54,Male,Male,Bisexual,NaN,"Yes, gender nonconforming",Yes,Never Married,Attended College or Technical School,...,No,No,Yes,One or more,Within past year,"$35,000 or more",NaN,Post-secondary Education,Gender nonconforming,Bisexual
371466,Vermont,Age 65 and older,Male,Male,Straight,NaN,"Yes, male to female",Yes,Widowed,Graduated from College or Technical School,...,No,No,No,One or more,Within past year,"Less than $35,000",Employed,Post-secondary Education,Female,Straight
371653,Vermont,Age 65 and older,Male,Male,Something Else,NaN,"Yes, male to female",Yes,Divorced,Attended College or Technical School,...,Yes,Yes,Yes,NaN,Within past year,NaN,NaN,Post-secondary Education,Female,NaN
371655,Vermont,Age 18 to 24,Male,Male,Bisexual,NaN,"Yes, male to female",Yes,A member of an unmarried couple,Graduated from College or Technical School,...,No,No,Yes,None,Within past year,"$35,000 or more",Employed,Post-secondary Education,Female,Bisexual

## 1. What regions have the greatest health disparities between transgender and cisgender people?

### National Health

In [5]:
trans_poor_health = 0
total_trans = 0
cis_poor_health = 0
total_cis = 0

In [6]:
for ind,row in cdc.iterrows():
    if row.trans == 'Transgender' and row.GENHLTH == 'Poor':
        total_trans += 1
        trans_poor_health += 1
    elif row.trans == 'Transgender':
        total_trans += 1
    elif row.trans == 'Cisgender' and row.GENHLTH == 'Poor':
        total_cis += 1
        cis_poor_health += 1
    elif row.trans == 'Cisgender':
        total_cis += 1
print(str.format('Percent of Trans People with Poor General Health: {}%', round((trans_poor_health/total_trans)*100,2)))
print(str.format('Percent of Cis People with Poor General Health: {}%', round((cis_poor_health/total_cis)*100,2)))

Percent of Trans People with Poor General Health: 9.01%
Percent of Cis People with Poor General Health: 5.23%

In [7]:
trans_14 = 0
total_trans = 0
cis_14 = 0
total_cis = 0

In [8]:
for ind,row in cdc.iterrows():
    if row.trans == 'Transgender' and row._PHYS14D != '14+ days when physical health not good':
        total_trans += 1
    elif row.trans == 'Transgender' and row._PHYS14D == '14+ days when physical health not good':
        total_trans += 1
        trans_14 += 1
    elif row.trans == 'Cisgender' and row._PHYS14D != '14+ days when physical health not good':
        total_cis += 1
    elif row.trans == 'Cisgender' and row._PHYS14D == '14+ days when physical health not good':
        total_cis += 1
        cis_14 += 1

print(str.format('Percent of Trans People with 14+ days in the last month when physical health not good: {}%', round((trans_14/total_trans)*100,2)))
print(str.format('Percent of Cis People with 14+ days in the last month when physical health not good: {}%',round((cis_14/total_cis)*100,2)))

Percent of Trans People with 14+ days in the last month when physical health not good: 19.48%
Percent of Cis People with 14+ days in the last month when physical health not good: 13.76%

In [9]:
trans_14 = 0
total_trans = 0
cis_14 = 0
total_cis = 0

In [10]:
for ind,row in cdc.iterrows():
    if row.trans == 'Transgender' and row._MENT14D != '14+ days when mental health not good':
        total_trans += 1
    elif row.trans == 'Transgender' and row._MENT14D == '14+ days when mental health not good':
        total_trans += 1
        trans_14 += 1
    elif row.trans == 'Cisgender' and row._MENT14D != '14+ days when mental health not good':
        total_cis += 1
    elif row.trans == 'Cisgender' and row._MENT14D == '14+ days when mental health not good':
        total_cis += 1
        cis_14 += 1

print(str.format('Percent of Trans People with 14+ days in the last month when mental health not good: {}%', round((trans_14/total_trans)*100,2)))
print(str.format('Percent of Cis People with 14+ days in the last month when mental health not good: {}%',round((cis_14/total_cis)*100,2)))

Percent of Trans People with 14+ days in the last month when mental health not good: 29.11%
Percent of Cis People with 14+ days in the last month when mental health not good: 11.73%

In [11]:
cdc_trans._RACE.unique()

array(['White only, non-Hispanic',
       'American Indian or Alaskan Native only, Non-Hispanic', 'Hispanic',
       'Black only, non-Hispanic', 'Multiracial, non-Hispanic',
       'Other race only, non-Hispanic', 'Asian only, non-Hispanic',
       'Don’t know/Not sure/Refused',
       'Native Hawaiian or other Pacific Islander only, Non-Hispanic'],
      dtype=object)

In [12]:
cdc_black_trans = cdc_trans.loc[cdc_trans._RACE.isin(['Black only, non-Hispanic'])]

In [13]:
cdc_black_trans.shape

(82, 38)

In [14]:
trans_14 = 0
total_trans = 0
cis_14 = 0
total_cis = 0

for ind,row in cdc_black_trans.iterrows():
    if row._MENT14D != '14+ days when mental health not good':
        total_trans += 1
    elif row._MENT14D == '14+ days when mental health not good':
        total_trans += 1
        trans_14 += 1

print(str.format('Percent of Trans People with 14+ days in the last month when mental health not good: {}%', round((trans_14/total_trans)*100,2)))

Percent of Trans People with 14+ days in the last month when mental health not good: 20.73%

### Health State Breakdown

In [15]:
# states = list(cdc_trans._STATE.unique())

In [16]:
# dict_states = []
# pct_trans_poor_fair = []
# pct_cis_poor_fair = []

In [17]:
# for item in states:
#     trans_poor_fair_health = 0
#     total_trans = 0
#     cis_poor_fair_health = 0
#     total_cis = 0
#     dict_state = item
#     state_df = cdc.loc[cdc._STATE == item]
    
#     for ind,row in state_df.iterrows():
#         if row.trans == 'Yes' and (row._RFHLTH == 'Good or Better Health' or row._RFHLTH == np.nan):
#             total_trans += 1
#         elif row.trans == 'Yes' and row._RFHLTH == 'Fair or Poor Health':
#             total_trans += 1
#             trans_poor_fair_health += 1
#         elif row.trans == 'No' and (row._RFHLTH == 'Good or Better Health' or row._RFHLTH == np.nan):
#             total_cis += 1
#         elif row.trans == 'No' and row._RFHLTH == 'Fair or Poor Health':
#             total_cis += 1
#             cis_poor_fair_health += 1

#     dict_states.append(dict_state)
#     pct_trans_poor_fair.append(round((trans_poor_fair_health/total_trans)*100,2))
#     pct_cis_poor_fair.append(round((cis_poor_fair_health/total_cis)*100,2))

In [18]:
# state_breakdown = pd.DataFrame({'state':states, 'pct_trans_poor_fair':pct_trans_poor_fair,
#                                 'pct_cis_poor_fair':pct_cis_poor_fair})
# state_breakdown.head()

In [19]:
# state_breakdown.sort_values('pct_trans_poor_fair', ascending=False)

In [20]:
# state_breakdown['diff'] = state_breakdown.pct_trans_poor_fair - state_breakdown.pct_cis_poor_fair

In [21]:
# state_breakdown.sort_values('diff',ascending=False)

In [22]:
# cdc_trans._STATE.value_counts()

### Health Region Breakdown

#### General Health

In [23]:
regions = list(cdc_trans.region.unique())

In [24]:
pct_trans_poor_reg = []
pct_cis_poor_reg = []

In [ ]:
for item in regions:
    trans_poor_health = 0
    total_trans = 0
    cis_poor_health = 0
    total_cis = 0
    region_df = cdc.loc[cdc.region == item]
    
    for ind,row in region_df.iterrows():
        if row.trans == 'Transgender' and (row.GENHLTH == 'Poor'):
            total_trans += 1
            trans_poor_health += 1
        elif row.trans == 'Transgender':
            total_trans += 1
        elif row.trans == 'Cisgender' and (row.GENHLTH == 'Poor'):
            total_cis += 1
            cis_poor_health += 1
        elif row.trans == 'Cisgender':
            total_cis += 1

    pct_trans_poor_reg.append(round((trans_poor_health/total_trans)*100,2))
    pct_cis_poor_reg.append(round((cis_poor_health/total_cis)*100,2))

region_breakdown = pd.DataFrame({'region':regions, 'pct_trans_poor':pct_trans_poor_reg,
                                'pct_cis_poor':pct_cis_poor_reg})

In [ ]:
cdc_trans.region.value_counts()

In [ ]:
region_breakdown['diff'] = region_breakdown.pct_trans_poor - region_breakdown.pct_cis_poor

In [ ]:
region_breakdown = region_breakdown.sort_values('diff', ascending = False)

In [ ]:
region_breakdown

In [ ]:
# fig, ax1 = plt.subplots(figsize=(10, 10))
# tidy = region_breakdown.melt(id_vars='region').rename(columns=str.title)
# sns.barplot(x='Region', y='Value', hue='Variable', data=tidy, ax=ax1)
# sns.despine(fig)

#### Physical Health

In [ ]:
phys_trans = []
phys_cis = []

In [ ]:
for item in regions:
    trans_14 = 0
    total_trans = 0
    cis_14 = 0
    total_cis = 0
    region_df = cdc.loc[cdc.region == item]
    
    for ind,row in region_df.iterrows():
        if row.trans == 'Transgender' and row._PHYS14D != '14+ days when physical health not good':
            total_trans += 1
        elif row.trans == 'Transgender' and row._PHYS14D == '14+ days when physical health not good':
            total_trans += 1
            trans_14 += 1
        elif row.trans == 'Cisgender' and row._PHYS14D != '14+ days when physical health not good':
            total_cis += 1
        elif row.trans == 'Cisgender' and row._PHYS14D == '14+ days when physical health not good':
            total_cis += 1
            cis_14 += 1

    phys_trans.append(round((trans_14/total_trans)*100,2))
    phys_cis.append(round((cis_14/total_cis)*100,2))

phys_region = pd.DataFrame({'region':regions, 'pct_14_trans':phys_trans,
                                'pct_14_cis':phys_cis})

In [ ]:
phys_region['diff'] = phys_region.pct_14_trans - phys_region.pct_14_cis

In [ ]:
phys_region = phys_region.sort_values('diff',ascending=False)

In [ ]:
phys_region

In [ ]:
# fig, ax1 = plt.subplots(figsize=(10, 10))
# tidy = phys_region.melt(id_vars='region').rename(columns=str.title)
# sns.barplot(x='Region', y='Value', hue='Variable', data=tidy, ax=ax1)
# sns.despine(fig)

#### Mental Health

In [ ]:
ment_trans = []
ment_cis = []

In [ ]:
for item in regions:
    trans_14 = 0
    total_trans = 0
    cis_14 = 0
    total_cis = 0
    region_df = cdc.loc[cdc.region == item]
    
    for ind,row in region_df.iterrows():
        if row.trans == 'Transgender' and row._MENT14D != '14+ days when mental health not good':
            total_trans += 1
        elif row.trans == 'Transgender' and row._MENT14D == '14+ days when mental health not good':
            total_trans += 1
            trans_14 += 1
        elif row.trans == 'Cisgender' and row._MENT14D != '14+ days when mental health not good':
            total_cis += 1
        elif row.trans == 'Cisgender' and row._MENT14D == '14+ days when mental health not good':
            total_cis += 1
            cis_14 += 1

    ment_trans.append(round((trans_14/total_trans)*100,2))
    ment_cis.append(round((cis_14/total_cis)*100,2))

ment_region = pd.DataFrame({'region':regions, 'pct_14_trans':ment_trans,
                                'pct_14_cis':ment_cis})

In [ ]:
ment_region['diff'] = ment_region.pct_14_trans - ment_region.pct_14_cis

In [ ]:
ment_region.sort_values('diff',ascending=False)

In [ ]:
ment_region

In [ ]:
# fig, ax1 = plt.subplots(figsize=(10, 10))
# tidy = ment_region.melt(id_vars='region').rename(columns=str.title)
# sns.barplot(x='Region', y='Value', hue='Variable', data=tidy, ax=ax1)
# sns.despine(fig)

#### Merging

In [ ]:
reg_phys = pd.merge(region_breakdown,phys_region, on='region',how='outer')

In [ ]:
reg_phys

In [ ]:
health_diff = pd.merge(reg_phys, ment_region, on='region',how='outer')

In [ ]:
health_diff.head()

In [ ]:
health_diff.columns = ['region','poor_fair_gen_health_trans','poor_fair_gen_health_cis','poor_fair_gen_health_diff',
                      'poor_phys_health_trans','poor_phys_health_cis','poor_phys_health_diff','poor_ment_health_trans',
                      'poor_ment_health_cis','poor_ment_health_diff']

In [ ]:
health_diff

In [ ]:
health_diff.to_csv('../data/health_diff.csv',index=False)

In [ ]:
health_diff_viz = health_diff[['poor_fair_gen_health_trans','poor_fair_gen_health_cis', 'poor_phys_health_trans','poor_phys_health_cis','poor_ment_health_trans','poor_ment_health_cis']]

## What factors might contribute to those health disparities?

### What age ranges do cis and trans people fall in?

In [ ]:
trans_age_grouped = cdc_trans.groupby(['region', '_AGE_G']).size()

In [ ]:
trans_age_pct = trans_age_grouped.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
trans_age_pct = trans_age_pct.reset_index()
trans_age_pct.columns = ['region','age_range','trans_pct']
trans_age_pct.head()

In [ ]:
cis_age_grouped = cdc_cis.groupby(['region', '_AGE_G']).size()
cis_age_pct = cis_age_grouped.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
cis_age_pct = cis_age_pct.reset_index()
cis_age_pct.columns = ['region','age_range','cis_pct']
cis_age_pct.head()

In [ ]:
ages_merged = pd.merge(trans_age_pct,cis_age_pct, on=['region','age_range'],how='outer')
ages_merged

### What percentage of cis and trans people have health coverage?

In [ ]:
trans_health_coverage = cdc_trans.groupby(['region', '_HCVU651']).size()
trans_health_coverage_df = trans_health_coverage.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
trans_health_coverage_df = trans_health_coverage_df.reset_index()
trans_health_coverage_df.columns = ['region','health_coverage_status','pct']
trans_health_coverage_df = trans_health_coverage_df.loc[trans_health_coverage_df.health_coverage_status.isin(['Do not have health care coverage'])]
trans_no_coverage = trans_health_coverage_df[['region','pct']]
trans_no_coverage

In [ ]:
cis_health_coverage = cdc_cis.groupby(['region', '_HCVU651']).size()
cis_health_coverage_df = cis_health_coverage.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))
cis_health_coverage_df = cis_health_coverage_df.reset_index()
cis_health_coverage_df.columns = ['region','health_coverage_status','pct']
cis_health_coverage_df = cis_health_coverage_df.loc[cis_health_coverage_df.health_coverage_status.isin(['Do not have health care coverage'])]
cis_no_coverage = cis_health_coverage_df[['region','pct']]
cis_no_coverage

In [ ]:
no_health_coverage = pd.merge(trans_no_coverage,cis_no_coverage,on='region')
no_health_coverage.columns = ['region','pct_trans','pct_cis']
no_health_coverage['diff']=no_health_coverage.pct_trans - no_health_coverage.pct_cis
no_health_coverage

In [ ]:
no_health_coverage = no_health_coverage.sort_values('diff', ascending=False)

In [ ]:
# fig, ax1 = plt.subplots(figsize=(10, 10))
# tidy = no_health_coverage.melt(id_vars='region').rename(columns=str.title)
# sns.barplot(x='Region', y='Value', hue='Variable', data=tidy, ax=ax1)
# sns.despine(fig)